<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body style="text-align: center;">
    <h1>This is Home Page</h1>
    <ul>
        <li><a href="/">Home Page</a></li>
        <li><a href="/triangle">Triangle Calculator</a></li>
    </ul>

    <form action="/area" method="post">
        <div>
            <label for="height">Height : </label>
            <input type="text" name="height">
        </div>
        <div>
            <label for="width">Width : </label>
            <input type="text" name="width">
        </div>
        <button type="submit">Calculat Area</button>
    </form>
    
</body>
</html>