<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Triangle</title>
</head>
<body style="text-align: center;">
    <h1>Triangle Calculator</h1>
    <ul>
        <li><a href="/">Home Page</a></li>
        <li><a href="/area">Area Calculator</a></li>
    </ul>

    <form action="/triangle" method="post">
        <div>
            <label for="height">Height : </label>
            <input type="text" name="height">
        </div>
        <div>
            <label for="base">Base : </label>
            <input type="text" name="base">
        </div>
        <button type="submit">Calculat</button>
    </form>
    
</body>
</html>